@font-face {
  font-family:Friz Quadrata;
  src:url(assets/FRIZQT__.ttf);
}
body {
  background-color:#666666;
  font-family:Friz Quadrata,Verdana;
  font-size:10pt;
  color:#ffffff;
  padding:32px;
  text-shadow:
    1px 1px 1px #000000,1px 1px 1px #000000,1px 1px 1px #000000,
    0px 0px 1px #000000,0px 0px 1px #000000;
}
a {
  color:#2eaadb;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
  color:#aadb2e;
}
#grid {
}
#grid td {
  margin:0px;
  padding:0px;
  vertical-align:top;
}
#grid td .header {
  text-align:center;
  padding-bottom:2px;
  color:#cccccc;
}
.unit {
  margin:0px;
  padding:2px;
  width:84px;
  height:32px;
  border:solid black 1px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  text-align:left;
  text-shadow:
    1px 1px 1px #000000,1px 1px 1px #000000,1px 1px 1px #000000,
    0px 0px 1px #000000,0px 0px 1px #000000;
}
.power {
  margin:0px;
  margin-bottom:4px;
  margin-right:2px;
  padding:2px;
  width:84px;
  height:2px;
  border:solid black 1px;
  border-top:none;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.roleIcon {
  vertical-align:top;
  margin-right:2px;
  width:16px;
  height:16px;
}
.warrior {
  background:linear-gradient(#c79c6e, #403223);
}
.deathknight {
  background:linear-gradient(#c41f3b, #400a13);
}
.paladin {
  background:linear-gradient(#f58cba, #402430);
}
.monk {
  background:linear-gradient(#00ff96, #004026);
}
.priest {
  background:linear-gradient(#ffffff, #404040);
}
.shaman {
  background:linear-gradient(#0070de, #002040);
}
.druid {
  background:linear-gradient(#ff7d0a, #401f02);
}
.rogue {
  background:linear-gradient(#fff569, #403d1a);
}
.mage {
  background:linear-gradient(#69ccf0, #1c3640);
}
.warlock {
  background:linear-gradient(#9482c9, #2f2940);
}
.hunter {
  background:linear-gradient(#abd473, #334023);
}
.demonhunter {
  background:linear-gradient(#4dd827, #17400c);
}
/* rage */
.warrior-tank, .warrior-melee, .druid-tank {
  background:linear-gradient(#ff0000, #800000);
}
/* runic power */
.deathknight-tank, .deathknight-melee {
  background:linear-gradient(#00d1ff, #006880);
}
/* mana */
.paladin-tank, .paladin-melee, .paladin-healer, .monk-healer, .priest-ranged, .priest-healer, .shaman-melee, .shaman-ranged, .shaman-healer, .druid-ranged, .druid-healer, .mage-ranged, .warlock-ranged {
  background:linear-gradient(#0000ff, #000080);
}
/* energy */
.monk-tank, .monk-melee, .druid-melee, .rogue-melee {
  background:linear-gradient(#ffff00, #808000);
}
/* focus */
.hunter-ranged {
  background:linear-gradient(#ff8040, #804020);
}
/* demonic fury */
.demonhunter-tank, .demonhunter-melee {
  background:linear-gradient(#9482c9, #5e5280);
}
.meter {
  margin:0px;
  margin-top:32px;
  padding:0px;
  width:366px;
  border:solid black 1px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
}
.meter .title {
  margin:0px;
  padding:3px 0px 3px 3px;
  border:none;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  background:linear-gradient(#ff0000, #800000);
}
.meter .bars {
  background:rgba(0,0,0,0.5);
}
.meter .bars .bar {
  border:solid black 1px;
  border-left:none;
  border-top:none;
  padding:1px;
  height:16px;
}
.meter .bars .bar .rank {
  position:absolute;
  width:22px;
  text-align:right;
}
.meter .bars .bar .name {
  position:absolute;
  margin-left:26px;
}
.meter .bars .bar .amount {
  position:absolute;
  width:300px;
  margin-left:62px;
  text-align:right;
}
