@font-face {
  font-family:Friz Quadrata;
  src:url(assets/FRIZQT__.ttf);
}
.mockraid-font {
  font-family:Friz Quadrata,Verdana;
  font-size:10pt;
  color:#ffffff;
  text-shadow:
    1px 1px 1px #000000,1px 1px 1px #000000,1px 1px 1px #000000,
    0px 0px 1px #000000,0px 0px 1px #000000;
}
.mockraid-group {
  margin:0px;
  padding:0px;
  vertical-align:top;
}
.mockraid-header {
  text-align:center;
  padding-bottom:2px;
  color:#cccccc;
}
.mockraid-unit {
  margin:0px;
  padding:2px;
  width:84px;
  height:32px;
  border:solid black 1px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  text-align:left;
  text-shadow:
    1px 1px 1px #000000,1px 1px 1px #000000,1px 1px 1px #000000,
    0px 0px 1px #000000,0px 0px 1px #000000;
}
.mockraid-power {
  margin:0px;
  margin-bottom:4px;
  margin-right:2px;
  padding:2px;
  width:84px;
  height:2px;
  border:solid black 1px;
  border-top:none;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  /* default: mana */
  background:linear-gradient(#0000ff, #000080);
}
.mockraid-role-icon {
  vertical-align:top;
  margin-right:2px;
  width:16px;
  height:16px;
}
.mockraid-warrior {
  background:linear-gradient(#c79c6e, #403223);
}
.mockraid-deathknight {
  background:linear-gradient(#c41f3b, #400a13);
}
.mockraid-paladin {
  background:linear-gradient(#f58cba, #402430);
}
.mockraid-monk {
  background:linear-gradient(#00ff96, #004026);
}
.mockraid-priest {
  background:linear-gradient(#ffffff, #404040);
}
.mockraid-shaman {
  background:linear-gradient(#0070de, #002040);
}
.mockraid-druid {
  background:linear-gradient(#ff7d0a, #401f02);
}
.mockraid-rogue {
  background:linear-gradient(#fff569, #403d1a);
}
.mockraid-mage {
  background:linear-gradient(#69ccf0, #1c3640);
}
.mockraid-warlock {
  background:linear-gradient(#9482c9, #2f2940);
}
.mockraid-hunter {
  background:linear-gradient(#abd473, #334023);
}
.mockraid-demonhunter {
  background:linear-gradient(#a330c9, #340f40);
}
/* rage */
.mockraid-warrior-tank, .mockraid-warrior-melee, .mockraid-druid-tank {
  background:linear-gradient(#ff0000, #800000);
}
/* runic power */
.mockraid-deathknight-tank, .mockraid-deathknight-melee {
  background:linear-gradient(#00d1ff, #006880);
}
/* energy */
.mockraid-monk-tank, .mockraid-monk-melee, .mockraid-druid-melee, .mockraid-rogue-melee {
  background:linear-gradient(#ffff00, #808000);
}
/* focus */
.mockraid-hunter-ranged {
  background:linear-gradient(#ff8040, #804020);
}
/* demonic fury */
.mockraid-demonhunter-tank, .mockraid-demonhunter-melee {
  background:linear-gradient(#9482c9, #5e5280);
  /*background:linear-gradient(#00d1ff, #006880);*/
}
.mockraid-meter {
  margin:4px 0px 4px 0px;
  padding:0px;
  width:366px;
  border:solid black 1px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
}
.mockraid-meter-header {
  margin:0px;
  padding:3px 0px 3px 3px;
  border:none;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  background:linear-gradient(#ff0000, #800000);
}
.mockraid-meter-bars {
  background:rgba(0,0,0,0.5);
}
.mockraid-meter-bar {
  border:solid black 1px;
  border-left:none;
  border-top:none;
  padding:1px;
  height:16px;
}
.mockraid-meter-rank {
  position:absolute;
  width:22px;
  text-align:right;
}
.mockraid-meter-name {
  position:absolute;
  margin-left:26px;
}
.mockraid-meter-amount {
  position:absolute;
  width:200px;
  text-align:right;
}
